.section1 {
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_1265,c_limit/4b78bb43-46d9-4e07-a586-0bc155f9d80e/nike-just-do-it.jpg');   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:60vh;
    width: 100%;
    
}
.section4 {
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_1277,c_limit/0a2f6836-9905-4ff3-a942-8a15d26aa1c6/nike-just-do-it.jpg');   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:60vh;
    width: 100%;
    
}
.section8 {
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_1169,c_limit/5e4a0ef7-a2c9-483a-8e5b-45d8277db19d/nike-just-do-it.jpg');   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:60vh;
    width: 100%;
    margin-bottom: 10px;
    
}