@tailwind base;
@tailwind components;
@tailwind utilities;

$lightblue: '#add8e6';
$lightblue: '#add8e6';
@import '_config';



.search-wrapper {
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    padding: 8px 20px 8px 36px;
}

.image {
    aspect-ratio: 20/9;
}

.text-color {
    @include set-background(black);
}
body {
    box-sizing: border-box;
    margin: 0;
padding: 0;
}